* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color: #808080;
}

body {
  background: url(redox_02.png);
}

#container {
  margin: 50px auto;
}

h1 {
  margin: 50px auto 30px;
  font-size: 3em;
}

table {
  background-color: #ababab;
  border: 3px solid #bfbfbf;
  box-shadow: 5px 5px #999999;
  padding: 10px;
  margin: 50px auto;
  border-radius: 4px;
}

tr {
  padding: 10px;
}

button {
  width: 100px;
  height: 80px;
  font-size: 2em;
  background-color: #f2f2f2;
  transition: 0.25s;
}

button:active {
  font-size: 2.5em;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

#display {
  height: 80px;
  width: 304px;
  font-size: 3em;
  text-align: right;
  border: 3px solid #bfbfbf;
  box-shadow: 2px 2px #999999;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#display:focus {
  outline: none;
}

.clear {
  background-color: #cc99ff;
  border: 5px solid #bfbfbf;
  box-shadow: 2px 2px #999999;
  border-radius: 5px;
}

.evaluate {
  background-color: #40ddcb;
  border: 5px solid #bfbfbf;
  box-shadow: 2px 2px #999999;
  border-radius: 5px;
}

.number {
  border: 3px solid #bfbfbf;
  box-shadow: 2px 2px #999999;
  border-radius: 5px;
}

.operator {
  border: 3px solid #bfbfbf;
  box-shadow: 2px 2px #999999;
  border-radius: 5px;
}
